@using TestMVC.ViewModels;
@model EmployeeListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <!--ViewData Test-->>
    @*<div>
        @{ 
            TestMVC.Models.Employee emp = (TestMVC.Models.Employee)ViewData["Employee"];
        }
        <b>
            Employee Details
        </b><br />
        Employee Name:@emp.FirstName@emp.LastName<br />
        Employee Salary:@emp.Salary.ToString("C")
    </div>*@

    <!--ViewBag Test-->>
    @*@{
        TestMVC.Models.Employee emp = (TestMVC.Models.Employee)ViewBag.Employee;
    }
    <b>
        Employee Details
    </b><br />
    Employee Name:@emp.FirstName@emp.LastName<br />
    Employee Salary:@emp.Salary.ToString("C")*@

    <!--实现ViewModel-->>
    @*Hello @Model.UserName
    <hr />
    <div>
        <b>Employee Details</b><br />
        Employee Name:@Model.EmployeeName<br />
        <span style="background-color:@Model.SalaryColor">
            Employee Salary:@Model.Salary
        </span>
    </div>*@

    <!--实现ListViewModel-->

    Hello @Model.UserName
    <hr />
    <div>
        <table>
            <tr>
                <th>Employee Name</th>
                <th>Salary</th>
            </tr>
            @foreach (EmployeeViewModel item in Model.Employees)
            {
                <tr>
                    <td>@item.EmployeeName</td>
                    <td style="background-color:@item.SalaryColor">@item.Salary</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
